$grid__bp-md: 768;
.container {
    max-width: $grid__bp-md * 1px;
    margin: 0 auto;
    &--fluid {
        margin: 0;
        max-width: 100%;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &__col {
        flex-basis: (100 * 0.25) * 1%;
    }
}

//Styling of grid for demostration purposes
.container {
    background-color: #88d8b0;
    padding: 10px;
    box-sizing: border-box;
    &__row {
        background-color: #ffeead;
    }
    &__col {
        height: 30px;
        background-color: #ff6f69;
        outline: 1px solid #ffcc5c;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}